src/main/resources/META-INF/schema/nuke-cfg.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://atomnuke.org/configuration"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:jx="http://jpserver.net/jx"
           xmlns:nuke="http://atomnuke.org/configuration"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <!-- jaxb:extensionBindingPrefixes="jx" -->
    
   <!-- Enumeration and SimpleType definitions -->

   <xs:simpleType name="LanguageType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="java" />
         <xs:enumeration value="python" />
         <xs:enumeration value="javascript" />
      </xs:restriction>
   </xs:simpleType>

   <!-- Configuration ComplexType definitions -->
   <xs:element name="nuke" type="nuke:ServerConfiguration" />

   <xs:complexType name="ServerConfiguration">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>
      
      <xs:sequence>
         <xs:element name="sinks" type="nuke:Sinks" minOccurs="0" maxOccurs="1" />
         <xs:element name="sources" type="nuke:Sources" minOccurs="0" maxOccurs="1" />
         <xs:element name="bindings" type="nuke:Bindings" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
   </xs:complexType>
   
   <xs:complexType name="Sinks">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>
      
      <xs:sequence>
         <xs:element name="sink" type="nuke:Sink" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   
   <xs:complexType name="Sink">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:attribute name="id" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      
      <xs:attribute name="type" type="nuke:LanguageType" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      
      <xs:attribute name="href" type="xs:anyURI" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   
   <xs:complexType name="Sources">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>
      
      <xs:sequence>
         <xs:element name="sink" type="nuke:Sink" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   
   <xs:complexType name="Source">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>
      
      <xs:attribute name="id" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      
      <xs:attribute name="type" type="nuke:LanguageType" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      
      <xs:attribute name="href" type="xs:anyURI" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   
   <xs:complexType name="Bindings">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>
        
      <xs:sequence>
         <xs:element name="binding" type="nuke:Binding" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>
   
   <xs:complexType name="Binding">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>
        
      <xs:sequence>
      </xs:sequence>
        
      <xs:attribute name="source-id" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
        
      <xs:attribute name="skink-id" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
</xs:schema>
