container/src/main/resources/META-INF/schema/nuke-cfg.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="http://atomnuke.org/configuration"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:jx="http://jpserver.net/jx"
           xmlns:nuke="http://atomnuke.org/configuration"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <!-- jaxb:extensionBindingPrefixes="jx" -->

   <!-- Enumeration and SimpleType definitions -->

   <xs:simpleType name="TimeUnitType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="NANOSECONDS" />
         <xs:enumeration value="MICROSECONDS" />
         <xs:enumeration value="MILLISECONDS" />
         <xs:enumeration value="SECONDS" />
         <xs:enumeration value="MINUTES" />
         <xs:enumeration value="HOURS" />
         <xs:enumeration value="DAYS" />
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="LanguageType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="java" />
         <xs:enumeration value="python" />
         <xs:enumeration value="javascript" />
      </xs:restriction>
   </xs:simpleType>

   <!-- Configuration ComplexType definitions -->
   <xs:element name="nuke" type="nuke:ServerConfiguration" />

   <xs:complexType name="Parameters">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:sequence>
         <xs:element name="param" type="nuke:Parameter" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="Parameter">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:attribute name="name" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="value" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>

   <xs:complexType name="ServerConfiguration">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:all>
         <xs:element name="sinks" type="nuke:Sinks" minOccurs="0" maxOccurs="1" />
         <xs:element name="sources" type="nuke:Sources" minOccurs="0" maxOccurs="1" />
         <xs:element name="eps" type="nuke:EventProcessingSystem" minOccurs="0" maxOccurs="1" />
         <xs:element name="bindings" type="nuke:Bindings" minOccurs="0" maxOccurs="1" />
      </xs:all>
   </xs:complexType>

   <xs:complexType name="PollingInterval">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:attribute name="value" type="xs:long" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="unit" type="nuke:TimeUnitType" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>

   <xs:complexType name="CodeDefinition">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:sequence>
         <xs:element name="parameters" type="nuke:Parameters" minOccurs="0" maxOccurs="1" />
      </xs:sequence>

      <xs:attribute name="id" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="type" type="nuke:LanguageType" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="href" type="xs:anyURI" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>

   <xs:complexType name="Sinks">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:sequence>
         <xs:element name="sink" type="nuke:Sink" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="Sink">
      <xs:complexContent>
         <xs:extension base="nuke:CodeDefinition">
            <xs:annotation>
               <xs:documentation>
                  <html:p>
                  </html:p>
               </xs:documentation>
            </xs:annotation>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="Sources">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:sequence>
         <xs:element name="source" type="nuke:Source" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="Source">
      <xs:complexContent>
         <xs:extension base="nuke:CodeDefinition">
            <xs:annotation>
               <xs:documentation>
                  <html:p>
                  </html:p>
               </xs:documentation>
            </xs:annotation>

            <xs:sequence>
               <xs:element name="polling-interval" type="nuke:PollingInterval" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="EventProcessingSystem">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:all>
         <xs:element name="relays" type="nuke:Relays" minOccurs="0" maxOccurs="1" />
         <xs:element name="eventlets" type="nuke:Eventlets" minOccurs="0" maxOccurs="1" />
      </xs:all>
   </xs:complexType>

   <xs:complexType name="Relays">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:sequence>
         <xs:element name="relay" type="nuke:Relay" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="Relay">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:attribute name="id" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>

   <xs:complexType name="Eventlets">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:sequence>
         <xs:element name="eventlet" type="nuke:Eventlet" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="Eventlet">
      <xs:complexContent>
         <xs:extension base="nuke:CodeDefinition">
            <xs:annotation>
               <xs:documentation>
                  <html:p>
                  </html:p>
               </xs:documentation>
            </xs:annotation>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="Bindings">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:sequence>
         <xs:element name="binding" type="nuke:Binding" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="Binding">
      <xs:annotation>
         <xs:documentation>
            <html:p>
            </html:p>
         </xs:documentation>
      </xs:annotation>

      <xs:attribute name="id" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="sink" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="source" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation>
               <html:p>
               </html:p>
            </xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
</xs:schema>
